<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input id="username" type="text" class="form-control" formControlName="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input id="password" type="password" class="form-control" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
    </div>
  </div>
</form>

<app-notification />
